/* PAGE CONFIG */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #777777;
    color: rgb(255, 255, 255);
}

header {
    background-color: #272727;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* TEXT TITLES */
.title {
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.subtitle {
    color: rgb(151, 255, 151);
    margin-top: 0; 
    margin-bottom: 0;
}
.subtitle2 {
    color: rgb(255, 219, 151);
    margin-top: 0; 
    margin-bottom: 0;
    text-shadow:
        1px 1px 0 black,
       -1px -1px 0 black,
        1px -1px 0 black,
       -1px 1px 0 black;
}

/* TEXT COLORS */
.Yhighlight {
    color: rgb(253, 253, 114);
}
.Ghighlight {
    color: rgb(103, 212, 81);
}


/* BUTTONS IN MENU BAR */
.buttonMenu {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white; /* Text color */
    background-color: black; /* Button background color */
    border: 2px solid gray; /* Gray outline */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonMenu:hover {
    background-color: rgb(128, 128, 128); /* Background becomes gray on hover */
    color: black; /* Text color changes to black on hover */
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    display: inline; /* Makes the list items horizontal */
    margin-right: 10px; /* Adds space between buttons */
}