:root {
    --blue1: rgb(101, 255, 255);
    --blue2: rgb(0, 33, 105);
    --blue3: rgb(4, 0, 58);

    --green1:  rgb(151, 255, 151);
    --green2:  #1a691e;

    --yellow1:  rgb(255, 253, 151);

    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

/* PAGE CONFIG */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--blue3);
    color: rgb(255, 255, 255);
}

header {
    background-color: var(--blue2);
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    /* Borders */
    border-radius: 0 0 20px 20px; /* Rounds the bottom corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 2px solid var(--blue1);
    border-right: 2px solid var(--blue1);
    border-bottom: 2px solid var(--blue1);
    /* Space on the sides */
    margin: 0 auto;
    max-width: 90%;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* TEXT TITLES */
.title {
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    img {
        max-width: 100%;
        height: auto;
    }
}
.subtitle {
    color: var(--blue1);
    margin-top: 0; 
    margin-bottom: 0;
}
.subtitle2 {
        --bg-color: var(--green1);
    color: var(--bg-color);
    display: block;
    text-align: center;
    margin: 10px 0;
    clear: both;
}
.subtitle2.yellow {
    --bg-color:  var(--yellow1);
}

/* BUTTONS IN MENU BAR */
.buttonMenu {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--blue1);
    background-color: var(--black);
    border: 2px solid var(--blue1);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
        background-color: var(--blue1); /* Background changes on hover */
        color: var(--blue3); /* Text color changes on hover */
        border: 2px solid var(--blue1);
    }
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    display: inline; /* Makes the list items horizontal */
    margin-right: 10px; /* Adds space between buttons */
}


/* GAME PAGES BUTTONS */
.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to new lines */
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
}

.game-page-button {
        --button-text-color: var(--white); /* CSS variables */
        --button-bg-color: var(--black);
        --button-border-color: var(--white);
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    /* Flexbox for vertical centering on the button's text */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Add some padding to ensure text doesn't touch borders */
    white-space: normal; /* Allow text to wrap to a second line */
    text-align: center;
}
.game-page-button.yellow {
    --button-text-color: var(--white);
    --button-bg-color: var(--black);
    --button-border-color:  var(--yellow1);
}

.game-page-button::before { /* Element over the button */
        --button-bg-image: url('images/placeholder.png');
        --image-transparency: 0.3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--button-bg-image);
    background-size: cover;
    background-position: center;
    opacity: var(--image-transparency);
    transition: opacity 0.3s ease;
}

.game-page-button:hover::before {
    opacity: 1;
}
.game-page-button:hover {
    color: transparent;
}

.game-page-button.itchio::before {
    --button-bg-image: url('images/Logos/logo_itchIo.png');
    --image-transparency: 0.05;
}
.game-page-button.roblox::before {
    --button-bg-image: url('images/Logos/logo_roblox.png');
    --image-transparency: 0.05;
}
.game-page-button.artStation::before {
    --button-bg-image: url('images/Logos/logo_ArtStation.png');
    --image-transparency: 0.05;
}
.game-page-button.gitHub::before {
    --button-bg-image: url('images/Logos/logo_GitHub.png');
    --image-transparency: 0.05;
}
.game-page-button.ancientDim::before {
    --button-bg-image: url('images/AncientDimensions/icon.png');
}
.game-page-button.walkros::before {
    --button-bg-image: url('images/Walkros/redEye.png');
}
.game-page-button.dieSeek::before {
    --button-bg-image: url('images/DieAndSeek/image2.png');
}
.game-page-button.abejuego::before {
    --button-bg-image: url('images/Abejuego/title.png');
}
.game-page-button.hagakure::before {
    --button-bg-image: url('images/Hagakure/background.png');
}
.game-page-button.marte::before {
    --button-bg-image: url('images/M-arte/marte-image6.png');
}
.game-page-button.lostInHangover::before {
    --button-bg-image: url('images/LostInHangover/LostInHangover.png');
}